{% extends "layout.html" %}

{% block content %}
<h1>Test Statistics</h1>

    <form method="POST" action="/">
        <label for="testType">Select Test Type:</label>
        <select name="testType" id="testType">
            <option value="All" {% if selected_test_type == "All" %}selected{% endif %}>All</option>
            {% for test_type in test_types %}
                <option value="{{ test_type }}" {% if selected_test_type == test_type %}selected{% endif %}>
                    {{ test_type }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>

    <h2>Bar Chart: Test Types Per Day</h2>
    <img src="data:image/png;base64,{{ bar_chart }}" alt="Bar Chart">

    <h2>Pie Chart: Percentage of Correct Answers</h2>
    <img src="data:image/png;base64,{{ pie_chart }}" alt="Pie Chart">

{% endblock content %}

