<!DOCTYPE html>

<html>
    <body>
        Dear {{UserFirstName}} {{UserLastName}}

<p>Congratulations and welcome to the Home work Kids Edition family! We are excited to have you on board for a learning journey filled with fun and knowledge.</p>
<p>Your registration has been successfully completed, and you are now a valued member of our vibrant community. Get ready to unlock a world of interactive learning and engaging activities that will make homework a joyful adventure.</p>
<br>
Here are your registration details:
<br>
Username: {{Username}}<br>
Email: {{UserEmail}} <br>

<p>Your security and privacy are our top priorities. Rest assured that your information is in safe hands and not shared with any third parties.</p>

<p>To get started, simply open the Home work Kids Edition in any browser, and log in using the provided credentials. Inside the app, you'll discover a treasure trove of learnign, excersize, and brain teasers that will transform the way you approach your studies.</p>

<p>We believe that learning should be as exciting as playtime, and Home work Kids Edition is here to prove it! Don't forget to explore our personalized dashboard, earn rewards, and unlock badges as you complete excersizes and tasks.</p>

<p>If you have any questions, concerns, or feedback, please don't hesitate to reach out to our friendly support team at [naresh.sampara@gmail.com].</p>

<p>
    Thank you for choosing HomeworkHelper Kids Edition as your learning companion. Let's embark on this educational adventure together!
</p>
<br>
Best regards,<br>

The Home work Kids Edition Team

    </body>
</html>