{% extends "layout.html" %}


{% block content %}
<div class="container">
    <div class="row">

        <div class="col-10">
            <h2 class="text-secondary">Hi  Mishi</h2>
        </div>
    </div>
</div>
    <br><br>
    <h3>
        Welcome to the Home Work. 

    </h3>
    <br><br>
    <p>"Homework Kids Edition" is a cutting-edge web application designed to help children prepare for 
        grammar school entrance exams, such as those for schools like Kesteven and Grantham Girls' School. 
        It focuses on the core areas tested in these exams: Verbal Reasoning and Non-Verbal Reasoning. 
        The app is crafted with interactive tools and exercises to make studying both effective and engaging. 

        Covers a wide variety of question types, such as those found in GL Assessment papers, including word relationships, patterns, sequences, and logical reasoning. 
    </p>

    
    <p>
        In this practice exercises including , each one exercise the student need to answer the 10 to 20 questions of the chosen topic. 
        The results will be stored. If you are first time user, please follow the below instructions.   
    </p>


    <p>
        Once the questions are solved, the results will be saved. You can track down the student progress in the dashboard. 
    </p>

{% endblock content %}





